  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="{% url 'index'%}"><span>Legendary </span></a></h1>
       
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class=""><a href="{% url 'index'%}">Home</a></li>
         
          <li><a href=href="https://api.whatsapp.com/send?phone=+2349029029412&text=Hello support i need your help">Customer Care</a></li>
           <li class="get-started"><a href="{% url 'register'%}">Register</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->