{% extends 'base.html' %}

{% block content %} 



{% comment %} <br>><br> {% endcomment %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
    {% include 'partials/_alert.html' %}
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
          <h1>Welcome to legendary Investment</h1>
          <h2>Invest and get 50% ROI added to your money after 25days with just doing a few task for each day</h2>
          <a href="{% url 'register'%}" class="btn-get-started scrollto">Register</a><a href="{% url 'login'%}" class="btn-get-started scrollto">Login</a>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/hero-img.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

   

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Investment Packages</h2>
          <p>Check out the great Packages we offer</p>
        </div>

        <div class="row">
          <div class="col-md-6  col-sm-12 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dice-1"></i></div>
              <h4 class="title"><a href="">You can also subscribe for our Basic Plan that will yield after 25days </a></h4>
              <h4 class="title"><a href="">#5,000</a></h4>
              <p class="description">Referal Bonus-#500</p>
              <p class="description">Withdrawal-#7,500</p>
            </div>
          </div>
          <div class="col-md-6  col-sm-12 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dice-2"></i></div>
              <h4 class="title"><a href="">You can also subscribe for our Standard Plan that will yield after 25days </a></h4>
              <h4 class="title"><a href="">#10,000</a></h4>
              <p class="description">Referal Bonus-#1,000</p>
              <p class="description">Withdrawal-#15,000</p>
            </div>
          </div>
          <div class="col-md-6  col-sm-12 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dice-3"></i></div>
              <h4 class="title"><a href="">You can also subscribe for our Silver Plan that will yield after 25days </a></h4>
              <h4 class="title"><a href="">#20,000</a></h4>
              <p class="description">Referal Bonus-#2,000</p>
              <p class="description">Withdrawal-#30,000</p>
            </div>
          </div>

          <div class="col-md-6  col-sm-12 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-dice-4"></i></div>
              <h4 class="title"><a href="">You can also subscribe for our classic Plan that will yield after 25days </a></h4>
              <h4 class="title"><a href="">#50,000</a></h4>
              <p class="description">Referal Bonus-#5,000</p>
              <p class="description">Withdrawal-#75,000</p>
            </div>
          </div>

        </div>
          <div class="row">
        <div class="col-md-12  col-sm-12 col-lg-6 d-flex " data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-dice-1"></i></div>
            <h4 class="title"><a href="">You could also subscribe for the Emerald package that yields after 3 months</a></h4>
            <h4 class="title"><a href="">#50,000</a></h4>
            <p class="description">Referal Bonus-#5000</p>
            <p class="description ">Withdrawal-#250,000</p>
          </div>
        </div>
        <div class="col-md-12  col-sm-12 col-lg-6 d-flex " data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-dice-1"></i></div>
            <h4 class="title"><a href="">You could also subscribe for the Emerald package that yields after 3 months</a></h4>
            <h4 class="title"><a href="">#100,000</a></h4>
            <p class="description">Referal Bonus-#10,000</p>
            <p class="description ">Withdrawal-#500,000</p>
          </div>
        </div>
        </div>

      </div>
    </section><!-- End Services Section -->

  

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" class="" data-bs-target="#faq1">Is legendary Investment legit? <i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-bs-parent=".faq-list">
              <p>
               Well to answer that we have seen other platform default payment and we have done a strategic format on how to make yield the invested money
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">What is our money been used for? <i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                We are team of business men that deals with buying and selling,trading of crypto and over time we have really gotten  much yield and we are using this platfrom to help and also gain more capital for our business.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">How do i refer? <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
               This is easy all you can do is tell someone about this so we can create a community together whetre we all will benefit from this
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">When will i be able to withdraw? <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
               Withdrawal date is 25 days after your registration date.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Am i just going to register and leave my account <i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
               NO,There are daily task you will have to do which will boost your daily earning
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="600">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">when i have issues how to i get it rectified <i class="icofont-simple-up"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
               We have a customer care service that ready to reply you via whtsapp.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    
    
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Send us a  message</h2>
          <p>Drop Your Questions we shall reply you via mail</p>
        </div>

        <div class="row">

         

          <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


{% endblock %} 